body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back {
  position: absolute;
  height: 100px;
  width: 100%;
  background: plum;
  z-index: -1;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content {
  background-color: plum;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

nav.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

table.content{
  text-align: center;
  vertical-align: middle;
  order: 2;
}

.up { 
  background-color: plum;
  }
.nch { background-color: darkorchid; }
.ch { background-color: darkmagenta; }

#footer{
  align-self: stretch;
  order: 3;
  background-color: plum;
  padding: 30px;
  margin-bottom: 0px;
}

form.content{
  order: 1;
}

@media only screen and(min-width: 780px),(orientation: landscape) {
  header {
    width: 70%;
    max-width: 960px;
    justify-content: left;
  }
  header img {
    float: left;
  }
  .content {
    width: 70%;
    max-width: 960px;
  }
  nav.content {
    flex-direction: row;
  }
  table.content{
    order: 1;
  }

  form.content{
    order: 2;
  }
}
